---
name: watch-star
on:
  watch:
    types:
      - started
jobs:
  watch-star:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: ./
        with:
          number: 5 # https://github.com/suzuki-shunsuke/watch-star-action/issues/5
